:root {
  --mainWhite: #ffffff;
  --mainPink: #fa97a7;
  --mainBlack: #000000;
  --mainYellow: rgb(249, 228, 148);
  --mainViolet: #8e7b75;
  --mainGrey: #eeeeee;
  --mainTextGrey: #9a9c9c;
  --mainTransition: all 0.3s ease-in-out;
}

.main-link {
  border: 3px solid var(--mainBlack);
  padding: 1rem;
  border-radius: 0.3rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--mainBlack);
  background: transparent;
}
.main-link:hover {
  background: var(--mainBlack);
  color: var(--mainPink);
  text-decoration: none;
}
.grey-bcg {
  background: #c9c0b7;
}

body {
  font-family: "Kaushan Script", cursive !important;
  margin: 0;
  padding: 0;
}
