:root {
  --mainWhite: #ffffff;
  --mainPink: #fa97a7;
  --mainBlack: #000000;
  --mainYellow: #f9e494;
  --mainViolet: #8e7b75;
  --mainTransition: all 0.3s ease-in-out;
}

body {
  font-family: "Kaushan Script", cursive !important;
  margin: 0;
  padding: 0;
}
